extends layout/layout.pug

block subject
    | change_password

block content

    p Hi #{data.userDetails.first_name} #{data.userDetails.last_name}

    p You have successfully changed your password.

    p If you didn’t request this password change, please contact us immediately at info@cryptolending.org

    p Thank you.

    p Regards, 
    
    p #{PRODUCT_NAME}