extends layout/layout.pug

block subject
    | Password Reset Successfully

block content
    
    p Hi #{data.userDetails.first_name} #{data.userDetails.last_name}

    p Your P2P password has been successfully changed.

    p If you didn't request this change, you can securely reset your password here: [password reset link]

    p Regards, 

    p #{PRODUCT_NAME}

